<template>
  <div>
      <img :src="src" width="300px" height="300px"/>
      <p>{{text}}</p>
  </div>
</template>

<script>
export default {
  name: 'ImageComponent',
  props: {
    src: String,
    text:String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
