<template>
  <div id="app">
    <ImageComponent src="https://img2.goodfon.ru/original/1920x1408/9/d9/leto-pole-doroga-peyzazh-462.jpg" text='Эх, дороги...
Пыль да туман,
Холода, тревоги
Да степной бурьян.'/>
    <ImageComponent src="https://img2.goodfon.ru/original/2240x1342/e/4e/hdr-priroda-leto-pole-nebo.jpg" text='Берегите природу, мать родную!'/>
    <ImageComponent src="https://mtdata.ru/u14/photoFF27/20172967512-0/original.jpeg" text='Клубника и лето... красота!'/>
  </div>
</template>

<script>
import ImageComponent from './components/ImageComponent.vue'

export default {
  name: 'App',
  components: {
    ImageComponent
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
